.main {
  flex: 1;
  display: grid;
  justify-content: center;
  align-items: center;
  z-index: 1;

  background: radial-gradient(ellipse at bottom, #f8fafc, #e2e8f0 100%);
  [data-theme="dark"] & {
    background: radial-gradient(ellipse at bottom, #182735, #090a0f 100%);
  }
}
